body{
	background-image: url("../images/backgroundimg.jpg");
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	
}

.portfolio{
	background-image: url("../images/sitebackground.jpg");
	
}

.headingTitle{
	padding-top: 20px;
	font-size: 80px;
	color: white;
	font-weight: bold;
}

.jtron{
	position: relative;
	background: rgba(31,136,113,0.4);
	margin: 0;
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.rpgTitle, .triviaTitle, .hangmanTitle, .gifTitle, .rpsTitle{
	color: #1f8871;
	text-align: center;
	font-size: 40px;
}
.projectCard{
	border-radius: 50px;
	background: rgba(31,136,113,0.4);
	color: white;
	text-align: center;
	font-size: 20px;
}

.rpgInfo, .triviaInfo, .hangmanInfo, .gifInfo, .rpsInfo{
	display: none;
}

.rpgImg, .triviaImg, .hangmanImg, .gifImg, .rpsImg{
	border-radius: 50px;
	cursor: pointer;
	
}

.btn-play{
	background-color:#1f8871;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 100%;
}
#mantra{
	font-family: 'Courgette', cursive;
	font-size: 4em;
	color: white;
	height: auto;
	width: 80%;
	text-align: center;
	-webkit-text-stroke: 1px black;
}
#name{
	font-family: 'Courgette', cursive;
	font-size: 4em;
	color: white;
	height: auto;
	width: 35%;
	text-align: center;
	margin-left: 15%;
	-webkit-text-stroke: 1.5px black;
	
}
#title{
	font-size: .5em;
	font-weight: 200;
}
#bio-image{
	border-radius: 100%;
	-webkit-filter: grayscale(100%);
	text-align: center;
	height: 250px;
	width: 250px;
}
#connect{
	font-size: 300%;
}
#connect:hover{
	font-size: 400%;
	cursor: pointer;
}
.work{
	margin: 0;
	font-size: 2em;
	padding: 0;
}


  