body{
	background-image: url("../images/backgroundimg.jpg");
	height: 100%;
	margin: 0;
	/* background-repeat: no-repeat; */
	background-attachment: fixed;
	color: white;
	/* font-family: 'Courgette', cursive; */
	
}

.container-fluid{
	padding: 0 !important;
}

.portfolio{
	background-image: url("../images/backgroundimg.jpg");
	
}



.headingTitle{
	padding-top: 20px;
	font-size: 80px;
	color: white;
	font-weight: bold;
}

.jtron{
	position: relative;
	background: rgba(31,136,113,0.4);
	margin: 0;
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}



.appTitle{
	color: #1f8871;
	text-align: center;
	font-size: 40px;
}
.projectCard{
	border-radius: 50px;
	background: rgba(31,136,113,0.2);
	color: white;
	text-align: center;
	font-size: 20px;
}

.card-body{
	font-size: 1.8em;
}

.card-img-top{
	border-radius: 50px;
}

.btn-play{
	background-color:#127bb7;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 30%;
	margin-top: 3%;
}
.btn-play:hover{
	background-color: rgb(238, 101, 101);
}

#title{
	font-size: .5em;
	font-weight: 200;
}

hr {
	
	margin: 0 !important;
    border: 0;
    border-top: 1px solid rgba(249, 245, 245);
}


.projectTitle{
	font-family: 'Courgette', cursive;
	font-size: 2em;
}
.projectPic{
	width: 50%;
	border-radius: 30%;
	margin-top: 3%;
}
.projectPic:hover{
	cursor: pointer;
}
.projectText{
	font-size: 1.2;
	width: 50%;
	text-align: left;
}


.colAbout{
	margin-top: 70px;
}
.colTools{
	margin-top: 50px;
}
.colTools, .colAbout{
	border-radius: 5%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	width: 85%;
}

.colProject{
	
	background: rgba(132, 135, 138, 0.15);
	padding-top: 50px;
}
.bioImage{
	width: 35%;
	border-radius: 30%;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}
.mail{
	text-decoration: none;
	color:#127bb7;
	font-size: 38px !important;
}
.mail:hover{
	color: rgb(238, 101, 101);
}
.email{
	font-size: 1.5em;
	display: inline-block; 
	font-family: 'Courgette', cursive;
}
.name{
	font-family: 'Courgette', cursive;
}
.aboutMe{
	text-align: center;
	font-family: 'Courgette', cursive;
}
.aboutMeText{
	font-size: 1.2em;
}
.githubImg, .linkedinImg, .stackImg{
	width: 8%;
	border-radius: 10%;
}

.githubImg{
	margin-right: 7%;
}
.stackImg{
	margin-left: 7%;
}
.toolBeltImg{
	margin-left: 3%;
	margin-right: 3%;
	width: 9%;
}








  