body{
	background-image: url("../images/backgroundimg.jpg");
	height: 100%;
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	/* font-family: 'Courgette', cursive; */
	
}

.portfolio{
	background-image: url("../images/sitebackground.jpg");
	
}

.headingTitle{
	padding-top: 20px;
	font-size: 80px;
	color: white;
	font-weight: bold;
}

.jtron{
	position: relative;
	background: rgba(31,136,113,0.4);
	margin: 0;
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.rpgTitle, .triviaTitle, .hangmanTitle, .gifTitle, .rpsTitle{
	color: #1f8871;
	text-align: center;
	font-size: 40px;
}
.projectCard{
	border-radius: 50px;
	background: rgba(31,136,113,0.4);
	color: white;
	text-align: center;
	font-size: 20px;
}

.rpgInfo, .triviaInfo, .hangmanInfo, .gifInfo, .rpsInfo{
	font-size: 1.8em;
}

.rpgImg, .triviaImg, .hangmanImg, .gifImg, .rpsImg{
	border-radius: 50px;
	cursor: pointer;
	
}

.btn-play{
	background-color:#1f8871;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 100%;
}
#mantra{
	font-family: 'Courgette', cursive;
	font-size: 4em;
	color: white;
	height: auto;
	width: 80%;
	text-align: center;
	text-shadow: 0 20px 20px rgb(155, 39, 39);
}
#name{
	font-family: 'Courgette', cursive;
	font-size: 4em;
	color: white;
	height: auto;
	width: 35%;
	text-align: center;
	margin-left: 15%;
	-webkit-text-stroke: 1.5px black;
	
}
#title{
	font-size: .5em;
	font-weight: 200;
}
#bio-image{
	border-radius: 100%;
	-webkit-filter: grayscale(100%);
	text-align: center;
	height: 250px;
	width: 250px;
}
#contactArrow, #aboutArrow, #worksArrow{
	font-size: 300%;
}
#worksArrowUp, #aboutArrowUp{
	font-size: 300%;
	display: none;
}

#contactArrow:hover{
	color: rgb(212, 54, 54);
	cursor: pointer;
}
#worksArrow:hover{
	color: rgb(212, 54, 54);
	cursor: pointer;
}
#worksArrowUp:hover{
	color: rgb(212, 54, 54);
	cursor: pointer;
}
#aboutArrow:hover{
	color: rgb(212, 54, 54);
	cursor: pointer;
}
#aboutArrowUp:hover{
	color: rgb(212, 54, 54);
	cursor: pointer;
}
.work{
	margin: 0;
	font-size: 2em;
	padding: 0;
	font-family: 'Courgette', cursive;
}
#githublink, #linkedinlink, #stackoverflowlink{
	
	border-radius: 100%;
	height: 40%;
	width: 90%;
}
#aboutArrow, #aboutArrowUp{
	margin-left: 15%;
}
#contactArrow{
	margin-right: 15%;
}
#projects, #contactMe, #aboutMe{
	/* background-color: rgba(3, 3, 3, 0.5); */
	color: white;
	height: 300px;
	width: 100%;
	overflow-y: scroll;
	visibility: hidden;
}
#aboutMe{
	padding-left: 15px;
}
.projectPic{
	width: 95%;
	border-radius: 30%;
	margin-top: 5%;
}





  