body{
	background-image: url("../images/sitebackground.jpg");
	
}

.headingTitle{
	padding-top: 20px;
	font-size: 80px;
	color: white;
	font-weight: bold;
}

.jtron{
	position: relative;
	background: rgba(31,136,113,0.4);
	margin: 0;
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}

.rpgTitle, .triviaTitle, .hangmanTitle, .gifTitle{
	color: #1f8871;
	text-align: center;
	font-size: 40px;
}
.projectCard{
	border-radius: 50px;
	background: rgba(31,136,113,0.4);
	color: white;
	text-align: center;
	font-size: 20px;
}

.rpgInfo, .triviaInfo, .hangmanInfo, .gifInfo{
	display: none;
}

.rpgImg, .triviaImg, .hangmanImg, .gifImg{
	border-radius: 50px;
	cursor: pointer;
	
}

.btn-play{
	background-color:#1f8871;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 100%;
}
