body{
	height: 100%;
	margin: 0;
  	width:100%;
	color: white;
}
body::before {
	content: "";
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	background: url("../images/backgroundimg.jpg") no-repeat center center;
  }

.nav{
	-webkit-appearance: none;
	border-radius: 50px;
	position: absolute;
	z-index: 2;
	visibility: hidden;
	background-color: rgb(108, 113, 117, .8);
}  
#portfolio-btn{
	margin-left: 40px;
	font-family: 'Concert One', cursive;
	font-size: 1.5em;
}
#portfolio-back-btn{
	margin-left: 40px;
	visibility: hidden;
	font-family: 'Concert One', cursive;
	font-size: 1.5em;
}

ul{
	list-style: none;
}
.pLinks{
	font-size: 1.3em;
	text-decoration: none;
	color: white;
	font-family: 'Concert One', cursive;
}
.pLinks:hover{
	font-size: 1.5em;
	text-decoration: none;
	color: rgb(84, 173, 245);
}



.headingTitle{
	padding-top: 20px;
	font-size: 80px;
	color: white;
	font-weight: bold;
}

.jtron{
	position: relative;
	background: rgba(31,136,113,0.4);
	margin: 0;
	padding-top: 0;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
}



.appTitle{
	color: #1f8871;
	text-align: center;
	font-size: 40px;
}
.projectCard{
	border-radius: 50px;
	background: rgba(31,136,113,0.2);
	color: white;
	text-align: center;
	font-size: 20px;
}

.card-body{
	font-size: 1.8em;
}

.card-img-top{
	border-radius: 50px;
}

.btn-play{
	background-color:#127bb7;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 30%;
	margin-top: 3%;
}
.btn-play:hover{
	background-color: rgb(238, 101, 101);
}

#title{
	font-size: .5em;
	font-weight: 200;
}




.projectTitle{
	font-family: 'Concert One', cursive;
	font-size: 2em;
}
.projectPic{
	width: 50%;
	border-radius: 30%;
	margin-top: 3%;
}
.projectPic:hover{
	cursor: pointer;
	opacity: .8;
}
.projectText{
	font-size: 1.2;
	width: 50%;
	text-align: left;
}


.colAbout{
	margin-top: 70px;
}
.colTools{
	margin-top: 50px;
}
.colTools, .colAbout{
	border-radius: 5%;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 20px;
	width: 85%;
}

.colProject{
	padding-top: 40px;
}
.bioImage{
	width: 35%;
	border-radius: 100%;
	-webkit-filter: grayscale(100%); 
    filter: grayscale(100%);
}

.mail{
	text-decoration: none;
	color:white;
	font-size: 38px !important;
}
.mail:hover{
	color: rgb(84, 173, 245);
}
.email{
	font-size: 1.5em;
	display: inline-block; 
	font-family: 'Courgette', cursive;
}
.name{
	font-family: 'Courgette', cursive;
}
.aboutMe{
	text-align: center;
	font-family: 'Courgette', cursive;
}
.tools{
	text-align: center;
	font-family: 'Concert One', cursive;
}
.aboutMeText{
	font-size: 1.2em;
}
.githubImg, .linkedinImg, .stackImg{
	width: 8%;
	border-radius: 100%;
}

.githubImg{
	margin-right: 7%;
}
.stackImg{
	margin-left: 7%;
}
.toolBeltImg{
	margin-left: 3%;
	margin-right: 3%;
	width: 9%;
}








  